html, body {
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

.backgroundNavbar {
    background-color: #333;
}

.minHeightHeader {
    min-height: 20vh;
}

.contentHeight {
    flex: 1;
}

